@charset "utf-8";

// @import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600");

@font-face {
  font-family: "ng";
  font-style: normal;
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot");
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ng";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot");
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.ttf") format("truetype");
}

body, input, textarea, select, table {
  font-family: "애플 SD 산돌고딕 Neo","Apple SD Gothic Neo",AppleGothic,Helvetica,sans-serif;
  font-size: 13px;
  color: $black-color;
}

body{
}
body:before {
  content: "test";
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 20px;
  color: red;
  z-index: 999;
}

header{}
nav{}
.spot{}
.footer{}
.xe-shop {
  .container {
    position: relative;
    margin: 0 auto;
    &:after {
      @include afterclear();
    }
  }
  &-notice {
    float: left;
    padding-top: 20px;
    font-size: 12px;
    line-height: 15px;
    h3 {
      margin: 0;
      padding: 0;
      display: inline-block;
      color: $black-color;
      vertical-align: top;
    }
    .notice-view {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 200px;
      margin-left: 7px;
      height: 15px;
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        position: absolute;
        left: 0;
        width: 100%;
        list-style-type: none;
        transition: top .2s ease-in;
        &:nth-child(1){top:0}
        &:nth-child(2){top:15px}
        &:nth-child(3){top:30px}
        &:last-child{top:-15px}
      }
      a {
        color: $default-color;
        text-decoration: none;
        overflow: hidden;
        display: block;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  &-utilmenu {
    float: right;
    padding-top: 20px;
    text-align: right;
    &-list {
      margin: 0;
      list-style-type: none;
    }
    li {
      position: relative;
      display: inline-block;
      margin: 0 9px 0 8px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -10px;
        width: 1px;
        height: 12px;
        background-color: $default-color;
      }
      &:last-child {
        margin-right: 0;
      }
      &:last-child:after {
        display: none;
      }
      a {
        text-decoration: none;
        color: $default-color;
      }
    }
  }
  &-search {
    display: inline-block;
    position: relative;
    width: 295px;
    margin-top: 20px;
    input {
      height: 25px;
      padding: 7px 30px 7px 16px;
      border: 1px solid #c7c7c7;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border: 0;
      background-color: transparent;
      color: $default-color;
      i {
        font-size: 17px;
      }
    }
  }
  &.logo {
    .xe-shop-logo {
      height: 160px;
      margin: 0 auto;
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &.menu {
    position: relative;
    height: $category-height;
    border-top: $border;
    border-bottom: $border;
  }
  .container {
    height: inherit;
  }
  &-menu {
    display: block;
    height: inherit;
    margin: -1px auto 0;
    padding-left: 50px;
    text-align: center;
    list-style-type: none;
    vertical-align: top;
    > li {
      position: relative;
      display: inline-block;
      height: inherit;
      > a {
        display: block;
        height: inherit;
        padding: 0 12px;
        text-decoration: none;
        line-height: $category-height;
        font-size: 14px;
        color: $default-color;
      }
      ul {
        display: none;
        position: absolute;
        top:50px;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        list-style-type: none;
        border: $border;
        background-color: $category-bg;
        z-index:1;
        li {
        }
        a {
          display: block;
          padding-left: 9px;
          line-height: 27px;
          text-align: left;
          text-decoration: none;
          color: $default-color;
          box-sizing: border-box;
        }
      }
      &:hover ul {
        display: block;
      }
    }
  }
  .xe-btn-category {
    position: absolute;
    top:0;
    left: -7px;
    @include buttonreset();
    padding: 12px 13px 6px 15px;
    font-size: 26px;
  }
  &-category {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0 0 0 35px;
    border: $border;
    top: $category-height;
    background-color: $category-bg;
    font-size: 12px;
    z-index: 1;
    &.active {
      display: block;
    }
    h3 {
      position: relative;
      margin: 0 0 12px 0;
      padding: 17px 0 19px ;
      text-transform: uppercase;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: $default-color;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      white-space: nowrap;
    }
    > li {
      width: 120px;
      vertical-align: top;
      display: inline-block;
      li {
        width: inherit;
        padding-right: 10px;
        @include ellipsis();
        line-height: 28px;
        font-size: 14px;
      }
    }
    a {
      color: $default-color;
      text-decoration: none;
    }
  }
  &.slider {
    ul {
      list-style-type: none;
      font-size: 0;
    }
  }
  .xe-spot-slider {
    &-view {
      width: 1140px;
      height: 500px;
      overflow: hidden;
      ul {
        padding: 0;
      }
    }
    &-pager {
      button {
        @include buttonreset();
        position: absolute;
        top: 50%;
        left: 0;
        width: 40px;
        height: 40px;
        padding: 0;
        font-size: 40px;
        color: #fff;
        text-align: center;
        transform: translateY(-50%);
        &:last-child{
          left: auto;
          right: 0;
        }
        i {
          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        }
      }
    }
    &-direction {
      position: absolute;
      left: 50%;
      bottom: 20px;
      margin: 0;
      padding: 0;
      transform: translateX(-50%);
      li {
        display: inline-block;
        margin-left: 5px;
        &:first-child {
          margin: 0;
        }
      }
      button {
        @include buttonreset();
        width: 30px;
        height: 4px;
        background-color: #fff;
        transition: all .2s ease-in;
      }
      .active button{
        width: 50px;
        background-color: #999;
      }
    }
  }
  &.guide {
    background-color: #e6e6e6;
    margin-top: 70px;
    .xe-shop {
      &-link {
        ul {
          margin: 0;
          padding: 0;
        }
        li {
          display: inline-block;
          padding-top: 20px;
          margin-right: 30px;
        }
        a {
          font-size: 12px;
          color: $black-color;
          text-decoration: none;
        }
      }
      &-guide {
        padding: 36px 0 53px 0;
        dl {
          display: inline-block;
          margin: 0;
          padding-right: 100px;
          vertical-align: top;
        }
        dt {
          margin-bottom: 17px;
          font-size: 15px;
          color: $black-color;
          font-weight: bold;
        }
        dd {
          margin: 0 0 5px 0;
          font-size: 13px;
        }
        .xe-shop-guide-bold {
          margin-bottom: 6px;
          font-size: 18px;
          font-weight: bold;
        }
        .xi-call {
          transform: translateY(2px);
        }
      }
    }
  }
  .xe-company-info {
    padding: 20px 0 8px 0;
    dl {
      margin: 0;
    }
    dt, dd {
      margin: 0 0 10px 0;
      font-size: 12px;
      color: $default-color;
      display: inline-block;
      a {
        color: $black-color;
      }
    }
    dt{
      margin-right: 5px;
    }
    dd {
      position: relative;
      margin-right: 20px;
      &:after {
        content:"";
        position: absolute;
        top: 0;
        right: -10px;
        width: 1px;
        height: 12px;
        background-color: $default-color;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .copyright {
    border-top: $border;
    p {
      padding: 14px 0 16px;
      color: $default-color;
      text-align: center;
    }
  }
  
  .category-item {
    margin: 30px 0 0 0;
    padding: 0 0 0 10px;
    li {
      display: inline-block;
      i {
        margin: 0 4px 0 6px;
      }
    }
    a {
      font-size: 12px;
      color: $default-color;
      text-decoration: none;
    }
    .xe-dropdown {
      display: inline-block;
      width: 118px;
      margin-top: -2px;
      button {
        padding: 5px 8px 1px;
        font-size: 12px;
        @include ellipsis();
        &:after {
          right: 10px;
        }
      }
    }
  }
  &.product {
    margin-top: 30px;
    white-space: nowrap;
  }
  .product {
    &-wrap {
      display: table;
      padding-bottom: 40px;
      border: 1px solid #d1d1d1;
      table-layout: fixed;
    }
    &-img{
      display: table-cell;
      max-width: 450px; // 반응형 작업시 변경될수 있음
      &-view {
        position: relative;
        display: inherit;
        .xe-btn {
          position: absolute;
          top: 50%;
          padding: 0;
          height: auto;
          border: 0;
          background-color: transparent;
          font-size: 40px;
          color: #fff;
          line-height: 0;
          transform: translateY(-50%);
          &.left {
            left: 0;
          }
          &.right {
            right: 0;
          }
        }
      }
      &-list {
        margin: 6px 0 0 0;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        ul {
          margin: 0;
          padding: 0;
          white-space: nowrap;
          text-align: center;
        }
        li {
          display: inline-block;
          width: 45px;
          margin: 0 4px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    &-info {
      display: table-cell;
      width: 100%;
      padding: 30px 38px 0 37px;
      vertical-align: top;
      &-title {
        margin: 7px 0 0 0;
        color: #333;
        font-size: 35px;
        font-weight: normal;;
        &-caption {
          margin: 13px 0 0 0;
          font-size: 16px;
        }
      }
      &-container {
        display: table;
        width: 100%;
        border-collapse: collapse;
      }
      &-low {
        display: table-row;
        &.price {
          .product-info-cell:first-child {
            vertical-align: baseline;
          }
          .product-info-cell:last-of-type {
            font-size: 35px;
            font-weight: bold;
            .gray {
              color: $gray-color;
            }
            span {
              font-size: 20px;
            }
          }
        }
        &.totalprice {
          .product-info-cell {
            padding-top: 26px;
            &:first-child {
              vertical-align: top;
            }
          }
          p {
            font-size: 35px;
            font-weight: bold;
            color: $black-color;
            text-align: right;
            span {
              font-size: 20px;
            }
          }
        }
      }
      &-cell {
        display: table-cell;
        padding: 7px 0;
        &:first-child {
          width: 110px;
        }
        p, a {
          margin: 0;
          padding: 0;
          color: $default-color;
          text-decoration: none;
        }
        .xe-select-box {
          padding: 2px 16px;
          color: $default-color;
          select {
            height: 100%;
          }
        }
        .xe-btn-remove {
          width: 20px;
          height: 20px;
          margin: 0 10px 0 7px;
          padding: 0;
          border: 1px solid #c7c7ca;
          color: #898c93;
          vertical-align: top;
          i {
            transform: translateY(2px);
          }
        }
      }
      .price {
        .product-info-cell {
          padding: 20px 0 0 0;
        }
        &.xe-border-bottom {
          .product-info-cell {
            padding: 4px 0 10px 0;
          }
        }
      }
      .counter {
        .product-info-cell {
          border-bottom: 2px solid #fff;
          margin-bottom: 10px;
          background-color: $gray-color;
          color: $black-color;
          .xe-spin-box + p {
            margin-left: 6px;
            color: $black-color;
          }
          &:first-child {
            padding-left: 20px;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
      .btn-buy-wrap {
        margin-top: 20px;
        .xe-btn {
          width: 145px;
          margin-left: 6px;
          padding: 20px 0 16px;
          border: 2px solid $default-color;
          font-size: 26px;
          color: $default-color;
          
        }
        .xe-btn-buy {
          width: 300px;
          margin: 0 1px 0 0;
          border-color: $black-color;
          background-color: $black-color;
          color: #fff;
        }
      }
      
      
      
    }
  }
  
  .xe-border {
    &-top .product-info-cell {
      padding-top: 20px;
      border-top: 1px solid $gray-color;
    }
    &-bottom .product-info-cell {
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-color;
    }
    &-top-bold .product-info-cell {
      padding-top: 20px;
      border-top: 2px solid #999;
    }
    &-bottom-bold .product-info-cell {
      padding-bottom: 20px;
      border-bottom: 2px solid #999;
    }
  }
  .xe-spin-box {
    display: inline-block;
    border: 1px solid #c7c7ca;
    background-color: #fff;
    color: #898c93;
    text-align: center;
    button {
      @include buttonreset();
      display: inline-block;
      height: 100%;
      padding: 1px 3px;
      i {
        transform: translateY(2px);
      }
      &:first-child {
        border-right: 1px solid #c7c7ca;
      }
      &:last-child {
        border-left: 1px solid #c7c7ca;
      }
    }
    p {
      display: inline-block;
      width: 38px;
      color: $default-color;
    }
    &+p {
      display: inline-block;
    }
  }
  &-bar{
    background-color: $gray-color;
    &.bold {
      // height: 2px;
      background-color: #999;
    }
  }
  
  .xe-shop-tag {
    display: inline-block;
    padding: 3px 4px 1px;
    margin-right: 3px;
    background-color: #ddd;
    font-size: 9px;
    color: $black-color;
    text-transform: uppercase;
    transform: translateY(-1px);
    &.black {
      background-color: $black-color;
      color: #fff;
    }
  }
  .xe-pager {
    margin-top: 50px;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      font-size: 0;
    }
    li {
      display: inline-block;
      // height: 27px;
      // height: 100%;
      margin-left: -1px;
      border-top: 1px solid #cfcfcf;
      border-bottom: 1px solid #cfcfcf;
      border-left: 1px solid #ebebeb;
      border-right: 1px solid #ebebeb;
      vertical-align: top;
      border-collapse: collapse;
      &:first-child {
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        border-radius: 0 3px 3px 0;
      }
      &:first-child, &:last-child {
        position: relative;
        border: 1px solid #cfcfcf;
        z-index: 1;
        a {
          padding: 6px 6px 4px;
        }
      }
      &.active {
        position: relative;
        border: 1px solid #b9b9b9;
        z-index: 2;
        a {
         background-color: #f0f0f0;
       }
      }
    }
    a {
      display: block;
      padding: 8px 10px 4px;
      font-size: 12px;
      // line-height: 27px;
      text-decoration: none;
      color: $default-color;
      // text-align: center;
    }
  }
  .detail {
    &-wrap {
      margin-top: 40px;
      padding-bottom: 40px;
      border: 1px solid $gray-color;
      border-top: 2px solid #999;
    }
    &-tab {
      position: relative;
      background-color: #f1f1f1;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $gray-color;
      }
      ul {
        padding: 0;
        margin: 0;
        font-size: 0;
        white-space: nowrap;
        border-collapse: collapse;
      }
      li {
        display: inline-block;
        background-color: #f1f1f1;
        border: 1px solid $gray-color;
        border-top: 0;
        margin-right: -1px;
        &:first-child {
          border-left: 0;
        }
        &.active {
          position: relative;
          background-color: #fff;
          border-bottom: 1px solid #fff;
          z-index: 2;
        }
      }
      a {
        display: block;
        min-width: 128px;
        padding: 28px 44px;
        font-size: 16px;
        color: $default-color;
        text-decoration: none;
        text-align: center;
      }
    }
    &-information {
      padding: 30px 30px;
      &-table{
        display: table;
        width: 100%;
        margin-bottom: 70px;
        border-collapse: collapse;
        table-layout: fixed;
      }
      &-row{
        display: table-row;
      }
      &-cell{
        display: table-cell;
        border:1px solid $gray-color;
        padding:10px 20px 8px;
        vertical-align: middle;
        &.th {
          width: 158px;
          background-color: #f1f1f1;
        }
      }
    }
  }
  
  /* 위젯 */
  .xe-shop-wiget-title {
    position: relative;
    width: 100%;
    margin: 70px 0 32px 0;
    font-size: 16px;
    text-align: center;
    color: $default-color;
    &:after {
      position: absolute;
      content: "";
      bottom: -7px;
      left: 50%;
      width: 30px;
      height: 2px;
      background-color: $default-color;
      transform: translateX(-50%);
    }
  }
  .default-list {
    list-style-type: none;
    margin: 0 0 -40px 0;
    padding: 0;
    a {
      text-decoration: none
    }
    > li {
      display: inline-block;
      // width: 100%;
      // max-width: 369px;
      width: 32.368%;
      margin-right: 1.130%;
      margin-bottom: 40px;
      // 0.9 까지 조절 가능 모바일 작업시 고려
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    &-img {
      overflow: hidden;
      position: relative;
      width: 369px;
      height: 492px;
      background-color: #f3f3f3;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease;
      }
      &:hover {
        img{
         width: 115%;
         height: auto;
       }
       .default-list-sns {
         transform: translateY(0);
       }
      }
    }
    &-sns{
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0 10px 0 10px;
      background-color: rgba(255, 255, 255, .8);
      transition: all 0.3s ease;
      transform: translateY(100%);
      li {
        display: inline-block;
        margin: 9px 2px 6px;
      }
      a {
        color: $default-color;
        font-size: 16px;
      }
      .xi-heart-o {
        color: #ff4040;
      }
    }
    &-text-title {
      overflow: hidden;
      width: 100%;
      margin: 16px 0 0 0;
      padding: 0 20px;
      font-size: 13px;
      color: $default-color;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .xe-shop-tag {
      &:last-of-type {
        margin-right: 8px;
      }
    }
    &-text-price {
      margin: 16px 0 0 0;
      padding: 0;
      color: $default-color;
      text-align: center;
      .through {
        color: #999;
        text-decoration: line-through;
      }
      i {
        margin: 0 6px;
      }
    }
    &-tab {
      position: relative;
      padding-bottom: 48px;
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
      }
      li {
        display: inline-block;
        margin-left: 15px;
        &:first-child{
          margin: 0;
        }
        a {
          font-size: 12px;
          color: $default-color;
          text-decoration: none;
        }
      }
      .xe-dropdown {
        position: absolute;
        top: 0;
        right: 0;
        width: 140px;
        height: 35px;
        li {
          display: block;
          margin: 0;
        }
      }
    }
  }
  .tab-list {
    &-title {
      text-align: center;
      li {
        position: relative;
        display: inline-block;
        margin-left: -4px;;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 12px;
          background-color: #999;
          z-index: 1;
        }
        &:first-child {
          margin: 0;
          &:before {
            display: none;
          }
        }
        a {
          padding: 14px 15px;
          text-decoration: none;
          color: #999;
        }
        &.active a {
          position: relative;
          background-color: #f3f3f3;
          z-index: 2;
        }
        
      }
    }
    &-container {
      background-color: #f3f3f3;
      ul {
        margin: 0 0 0 0;
        padding: 50px 0 40px 0;
        white-space: nowrap;
      }
      li {
        display: inline-block;
        width: 369px;
        margin-left: 15px;
        &:first-child {
          margin: 0;
        }
        a {
          text-decoration: none;
        }
      }
      .tab-list {
        &-img{
          position: relative;
          display: inline-block;
          img {
            vertical-align: top;
          }
        }
        &-number {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border: 38px solid rgba(51, 51, 51, .8);
          border-top-color: transparent;
          border-left-color: transparent;
          font-size: 30px;
          color: #fff;
          text-indent: 7px;
        }
      }
    }
    &-caption {
      padding-left: 5px;
      h3{
        text-align: left;
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
      }
      p {
        margin: 3px 0 0 0;
        text-align: left;
        font-size: 11px;
      }
    }
  }
  .cross-list {
    font-size: 0;
    > div {
      position: relative;
      display: inline-block;
      border: $border;
      vertical-align: top;
      &:nth-child(2) {
        margin: 0 16px;
        border: 0;
        div {
          border: $border;
          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }
    img{
      vertical-align: top;
    }
  }
  .xe-shop-slider {
    &-view {
      overflow: hidden;
      // height: 375px;
      ul {
        margin: 0;
        padding: 0;
        font-size: 0;
        white-space: nowrap;
      }
      li {
        position: relative;
        display: inline-block;
        white-space: normal;
        // 임시 코드
        &:first-child {
          margin-left: -300px;
        }
      }
    }
    &-caption {
      position: absolute;
      top: 47px;
      bottom: 47px;
      left: 75px;
      right: 75px;
      background-color: rgba(255, 255, 255, .9);
      color: $default-color;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s ease-in;
      p {
        padding: 0 20px;
        color: $black-color;
      }
    }
    .active .xe-shop-slider-caption {
      opacity: 1;
    }
    &-title {
      margin: 48px 0 0 0;
      font-size: 35px;
      line-height: 42px;
    }
    &-comment {
      position: absolute;
      top: 147px;
      margin: 0;
      font-size: 20px;
      line-height: 26px;
    }
    .xe-btn{
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
      background-color: rgba(255, 255, 255, .9);
      font-size: 38px;
      color: $default-color;
      transform:translateY(-3px);
      &-slider-prev{
        margin-left: -270px;
      }
      &-slider-next{
        margin-left: 290px;
      }
      i {
        transform: translateY(6px);
      }
    }
  }
}

 

@media  (min-width:992px) and (max-width:1060px) {
  nav {
  }
}

@media  (min-width:1200px) and (max-width:1260px) {

  nav {
  }
}



@media (min-width: 992px) {
  body{
    font-family: 'Source Sans Pro','나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
    font-size: 13px;
    input, textarea, select, table {
      font-family: 'Source Sans Pro','나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
      font-size: 13px;
    }
  }
  .xe-shop {
    .container {
      max-width: 1140px;
    }
  }
  

}
