//
// Variables
// --------------------------------------------------

@mixin transparent-backgound($color, $value){
  $start: "rgb(";
  $end: ")";
  background-color: #{$start}red($color), green($color), blue($color)#{$end};
  background-color: rgba($color, $value);
}

@mixin opacity-border() {
  content: "";
  clear: both;
  position: absolute;
  background-color: rgba(00, 00, 00, 0.1);
}
@mixin afterclear() {
  content: "";
  display: block;
  clear: both;
}
@mixin buttonreset() {
  appearance:button;
  -moz-appearance:button;
  -webkit-appearance:button;
  border: 0;
  background-color: transparent;
  color: $default-color;
  cursor: pointer;
}
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


$default-color:              #666;
$black-color:                #333;
$gray-color:                 #d1d1d1;
$border: 1px solid #d1d1d1;
$category-height: 50px;
$category-bg: rgba(255, 255, 255, .9);
