@charset "UTF-8";
/* LYG */
/*reset*/
header ul {
  margin: 0;
  padding: 0;
}

header ul li {
  list-style: none;
}

header ul a {
  text-decoration: none;
}

.spot p, .spot h2 {
  margin: 0;
  padding: 0;
}

.board-area h3,
.board-area p,
.footer ul,
.footer p,
.skip,
.features p,
.features h2,
.contributor p,
.contributor h2,
.contributor dt,
.contributor dd,
.contributor ul,
.privacy dl,
.privacy dd,
.privacy ul,
.sub-content h2 {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
}

.footer a,
.contributor a,
.privacy_lst a {
  text-decoration: none;
}

@font-face {
  font-family: "ng";
  font-style: normal;
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot");
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ng";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot");
  src: url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.ttf") format("truetype");
}

body, input, textarea, select, table {
  font-family: "애플 SD 산돌고딕 Neo","Apple SD Gothic Neo",AppleGothic,Helvetica,sans-serif;
  font-size: 13px;
  color: #333;
}

body:before {
  content: "test";
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 20px;
  color: red;
  z-index: 999;
}

.xe-shop {
  /* 위젯 */
}

.xe-shop .container {
  position: relative;
  margin: 0 auto;
}

.xe-shop .container:after {
  content: "";
  display: block;
  clear: both;
}

.xe-shop-notice {
  float: left;
  padding-top: 20px;
  font-size: 12px;
  line-height: 15px;
}

.xe-shop-notice h3 {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #333;
  vertical-align: top;
}

.xe-shop-notice .notice-view {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 200px;
  margin-left: 7px;
  height: 15px;
}

.xe-shop-notice .notice-view ul {
  margin: 0;
  padding: 0;
}

.xe-shop-notice .notice-view li {
  position: absolute;
  left: 0;
  width: 100%;
  list-style-type: none;
  transition: top .2s ease-in;
}

.xe-shop-notice .notice-view li:nth-child(1) {
  top: 0;
}

.xe-shop-notice .notice-view li:nth-child(2) {
  top: 15px;
}

.xe-shop-notice .notice-view li:nth-child(3) {
  top: 30px;
}

.xe-shop-notice .notice-view li:last-child {
  top: -15px;
}

.xe-shop-notice .notice-view a {
  color: #666;
  text-decoration: none;
  overflow: hidden;
  display: block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.xe-shop-utilmenu {
  float: right;
  padding-top: 20px;
  text-align: right;
}

.xe-shop-utilmenu-list {
  margin: 0;
  list-style-type: none;
}

.xe-shop-utilmenu li {
  position: relative;
  display: inline-block;
  margin: 0 9px 0 8px;
}

.xe-shop-utilmenu li:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 12px;
  background-color: #666;
}

.xe-shop-utilmenu li:last-child {
  margin-right: 0;
}

.xe-shop-utilmenu li:last-child:after {
  display: none;
}

.xe-shop-utilmenu li a {
  text-decoration: none;
  color: #666;
}

.xe-shop-search {
  display: inline-block;
  position: relative;
  width: 295px;
  margin-top: 20px;
}

.xe-shop-search input {
  height: 25px;
  padding: 7px 30px 7px 16px;
  border: 1px solid #c7c7c7;
}

.xe-shop-search button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background-color: transparent;
  color: #666;
}

.xe-shop-search button i {
  font-size: 17px;
}

.xe-shop.logo .xe-shop-logo {
  height: 160px;
  margin: 0 auto;
}

.xe-shop.logo .xe-shop-logo a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.xe-shop.menu {
  position: relative;
  height: 50px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.xe-shop .container {
  height: inherit;
}

.xe-shop-menu {
  display: block;
  height: inherit;
  margin: -1px auto 0;
  padding-left: 50px;
  text-align: center;
  list-style-type: none;
  vertical-align: top;
}

.xe-shop-menu > li {
  position: relative;
  display: inline-block;
  height: inherit;
}

.xe-shop-menu > li > a {
  display: block;
  height: inherit;
  padding: 0 12px;
  text-decoration: none;
  line-height: 50px;
  font-size: 14px;
  color: #666;
}

.xe-shop-menu > li ul {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
  border: 1px solid #d1d1d1;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.xe-shop-menu > li ul a {
  display: block;
  padding-left: 9px;
  line-height: 27px;
  text-align: left;
  text-decoration: none;
  color: #666;
  box-sizing: border-box;
}

.xe-shop-menu > li:hover ul {
  display: block;
}

.xe-shop .xe-btn-category {
  position: absolute;
  top: 0;
  left: -7px;
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  border: 0;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  padding: 12px 13px 6px 15px;
  font-size: 26px;
}

.xe-shop-category {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0 0 0 35px;
  border: 1px solid #d1d1d1;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  z-index: 1;
}

.xe-shop-category.active {
  display: block;
}

.xe-shop-category h3 {
  position: relative;
  margin: 0 0 12px 0;
  padding: 17px 0 19px;
  text-transform: uppercase;
}

.xe-shop-category h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #666;
}

.xe-shop-category ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}

.xe-shop-category > li {
  width: 120px;
  vertical-align: top;
  display: inline-block;
}

.xe-shop-category > li li {
  width: inherit;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 28px;
  font-size: 14px;
}

.xe-shop-category a {
  color: #666;
  text-decoration: none;
}

.xe-shop.slider ul {
  list-style-type: none;
  font-size: 0;
}

.xe-shop .xe-spot-slider-view {
  width: 1140px;
  height: 500px;
  overflow: hidden;
}

.xe-shop .xe-spot-slider-view ul {
  padding: 0;
}

.xe-shop .xe-spot-slider-pager button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  border: 0;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 40px;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
}

.xe-shop .xe-spot-slider-pager button:last-child {
  left: auto;
  right: 0;
}

.xe-shop .xe-spot-slider-pager button i {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.xe-shop .xe-spot-slider-direction {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
}

.xe-shop .xe-spot-slider-direction li {
  display: inline-block;
  margin-left: 5px;
}

.xe-shop .xe-spot-slider-direction li:first-child {
  margin: 0;
}

.xe-shop .xe-spot-slider-direction button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  border: 0;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  width: 30px;
  height: 4px;
  background-color: #fff;
  transition: all .2s ease-in;
}

.xe-shop .xe-spot-slider-direction .active button {
  width: 50px;
  background-color: #999;
}

.xe-shop.guide {
  background-color: #e6e6e6;
  margin-top: 70px;
}

.xe-shop.guide .xe-shop-link ul {
  margin: 0;
  padding: 0;
}

.xe-shop.guide .xe-shop-link li {
  display: inline-block;
  padding-top: 20px;
  margin-right: 30px;
}

.xe-shop.guide .xe-shop-link a {
  font-size: 12px;
  color: #333;
  text-decoration: none;
}

.xe-shop.guide .xe-shop-guide {
  padding: 36px 0 53px 0;
}

.xe-shop.guide .xe-shop-guide dl {
  display: inline-block;
  margin: 0;
  padding-right: 100px;
  vertical-align: top;
}

.xe-shop.guide .xe-shop-guide dt {
  margin-bottom: 17px;
  font-size: 15px;
  color: #333;
  font-weight: bold;
}

.xe-shop.guide .xe-shop-guide dd {
  margin: 0 0 5px 0;
  font-size: 13px;
}

.xe-shop.guide .xe-shop-guide .xe-shop-guide-bold {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: bold;
}

.xe-shop.guide .xe-shop-guide .xi-call {
  transform: translateY(2px);
}

.xe-shop .xe-company-info {
  padding: 20px 0 8px 0;
}

.xe-shop .xe-company-info dl {
  margin: 0;
}

.xe-shop .xe-company-info dt, .xe-shop .xe-company-info dd {
  margin: 0 0 10px 0;
  font-size: 12px;
  color: #666;
  display: inline-block;
}

.xe-shop .xe-company-info dt a, .xe-shop .xe-company-info dd a {
  color: #333;
}

.xe-shop .xe-company-info dt {
  margin-right: 5px;
}

.xe-shop .xe-company-info dd {
  position: relative;
  margin-right: 20px;
}

.xe-shop .xe-company-info dd:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 12px;
  background-color: #666;
}

.xe-shop .xe-company-info dd:last-child:after {
  display: none;
}

.xe-shop .copyright {
  border-top: 1px solid #d1d1d1;
}

.xe-shop .copyright p {
  padding: 14px 0 16px;
  color: #666;
  text-align: center;
}

.xe-shop .category-item {
  margin: 30px 0 0 0;
  padding: 0 0 0 10px;
}

.xe-shop .category-item li {
  display: inline-block;
}

.xe-shop .category-item li i {
  margin: 0 4px 0 6px;
}

.xe-shop .category-item a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

.xe-shop .category-item .xe-dropdown {
  display: inline-block;
  width: 118px;
  margin-top: -2px;
}

.xe-shop .category-item .xe-dropdown button {
  padding: 5px 8px 1px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.xe-shop .category-item .xe-dropdown button:after {
  right: 10px;
}

.xe-shop.product {
  margin-top: 30px;
  white-space: nowrap;
}

.xe-shop .product-wrap {
  display: table;
  padding-bottom: 40px;
  border: 1px solid #d1d1d1;
  table-layout: fixed;
}

.xe-shop .product-img {
  display: table-cell;
  max-width: 450px;
}

.xe-shop .product-img-view {
  position: relative;
  display: inherit;
}

.xe-shop .product-img-view .xe-btn {
  position: absolute;
  top: 50%;
  padding: 0;
  height: auto;
  border: 0;
  background-color: transparent;
  font-size: 40px;
  color: #fff;
  line-height: 0;
  transform: translateY(-50%);
}

.xe-shop .product-img-view .xe-btn.left {
  left: 0;
}

.xe-shop .product-img-view .xe-btn.right {
  right: 0;
}

.xe-shop .product-img-list {
  margin: 6px 0 0 0;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.xe-shop .product-img-list ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-align: center;
}

.xe-shop .product-img-list li {
  display: inline-block;
  width: 45px;
  margin: 0 4px;
}

.xe-shop .product-img-list li img {
  width: 100%;
  height: auto;
}

.xe-shop .product-info {
  display: table-cell;
  width: 100%;
  padding: 30px 38px 0 37px;
  vertical-align: top;
}

.xe-shop .product-info-title {
  margin: 7px 0 0 0;
  color: #333;
  font-size: 35px;
  font-weight: normal;
}

.xe-shop .product-info-title-caption {
  margin: 13px 0 0 0;
  font-size: 16px;
}

.xe-shop .product-info-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.xe-shop .product-info-low {
  display: table-row;
}

.xe-shop .product-info-low.price .product-info-cell:first-child {
  vertical-align: baseline;
}

.xe-shop .product-info-low.price .product-info-cell:last-of-type {
  font-size: 35px;
  font-weight: bold;
}

.xe-shop .product-info-low.price .product-info-cell:last-of-type .gray {
  color: #d1d1d1;
}

.xe-shop .product-info-low.price .product-info-cell:last-of-type span {
  font-size: 20px;
}

.xe-shop .product-info-low.totalprice .product-info-cell {
  padding-top: 26px;
}

.xe-shop .product-info-low.totalprice .product-info-cell:first-child {
  vertical-align: top;
}

.xe-shop .product-info-low.totalprice p {
  font-size: 35px;
  font-weight: bold;
  color: #333;
  text-align: right;
}

.xe-shop .product-info-low.totalprice p span {
  font-size: 20px;
}

.xe-shop .product-info-cell {
  display: table-cell;
  padding: 7px 0;
}

.xe-shop .product-info-cell:first-child {
  width: 110px;
}

.xe-shop .product-info-cell p, .xe-shop .product-info-cell a {
  margin: 0;
  padding: 0;
  color: #666;
  text-decoration: none;
}

.xe-shop .product-info-cell .xe-select-box {
  padding: 2px 16px;
  color: #666;
}

.xe-shop .product-info-cell .xe-select-box select {
  height: 100%;
}

.xe-shop .product-info-cell .xe-btn-remove {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 7px;
  padding: 0;
  border: 1px solid #c7c7ca;
  color: #898c93;
  vertical-align: top;
}

.xe-shop .product-info-cell .xe-btn-remove i {
  transform: translateY(2px);
}

.xe-shop .product-info .price .product-info-cell {
  padding: 20px 0 0 0;
}

.xe-shop .product-info .price.xe-border-bottom .product-info-cell {
  padding: 4px 0 10px 0;
}

.xe-shop .product-info .counter .product-info-cell {
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  background-color: #d1d1d1;
  color: #333;
}

.xe-shop .product-info .counter .product-info-cell .xe-spin-box + p {
  margin-left: 6px;
  color: #333;
}

.xe-shop .product-info .counter .product-info-cell:first-child {
  padding-left: 20px;
}

.xe-shop .product-info .counter .product-info-cell:last-child {
  text-align: right;
}

.xe-shop .product-info .btn-buy-wrap {
  margin-top: 20px;
}

.xe-shop .product-info .btn-buy-wrap .xe-btn {
  width: 145px;
  margin-left: 6px;
  padding: 20px 0 16px;
  border: 2px solid #666;
  font-size: 26px;
  color: #666;
}

.xe-shop .product-info .btn-buy-wrap .xe-btn-buy {
  width: 300px;
  margin: 0 1px 0 0;
  border-color: #333;
  background-color: #333;
  color: #fff;
}

.xe-shop .xe-border-top .product-info-cell {
  padding-top: 20px;
  border-top: 1px solid #d1d1d1;
}

.xe-shop .xe-border-bottom .product-info-cell {
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.xe-shop .xe-border-top-bold .product-info-cell {
  padding-top: 20px;
  border-top: 2px solid #999;
}

.xe-shop .xe-border-bottom-bold .product-info-cell {
  padding-bottom: 20px;
  border-bottom: 2px solid #999;
}

.xe-shop .xe-spin-box {
  display: inline-block;
  border: 1px solid #c7c7ca;
  background-color: #fff;
  color: #898c93;
  text-align: center;
}

.xe-shop .xe-spin-box button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  border: 0;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: 1px 3px;
}

.xe-shop .xe-spin-box button i {
  transform: translateY(2px);
}

.xe-shop .xe-spin-box button:first-child {
  border-right: 1px solid #c7c7ca;
}

.xe-shop .xe-spin-box button:last-child {
  border-left: 1px solid #c7c7ca;
}

.xe-shop .xe-spin-box p {
  display: inline-block;
  width: 38px;
  color: #666;
}

.xe-shop .xe-spin-box + p {
  display: inline-block;
}

.xe-shop-bar {
  background-color: #d1d1d1;
}

.xe-shop-bar.bold {
  background-color: #999;
}

.xe-shop .xe-shop-tag {
  display: inline-block;
  padding: 3px 4px 1px;
  margin-right: 3px;
  background-color: #ddd;
  font-size: 9px;
  color: #333;
  text-transform: uppercase;
  transform: translateY(-1px);
}

.xe-shop .xe-shop-tag.black {
  background-color: #333;
  color: #fff;
}

.xe-shop .xe-pager {
  margin-top: 50px;
  text-align: center;
}

.xe-shop .xe-pager ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.xe-shop .xe-pager li {
  display: inline-block;
  margin-left: -1px;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  vertical-align: top;
  border-collapse: collapse;
}

.xe-shop .xe-pager li:first-child {
  border-radius: 3px 0 0 3px;
}

.xe-shop .xe-pager li:last-child {
  border-radius: 0 3px 3px 0;
}

.xe-shop .xe-pager li:first-child, .xe-shop .xe-pager li:last-child {
  position: relative;
  border: 1px solid #cfcfcf;
  z-index: 1;
}

.xe-shop .xe-pager li:first-child a, .xe-shop .xe-pager li:last-child a {
  padding: 6px 6px 4px;
}

.xe-shop .xe-pager li.active {
  position: relative;
  border: 1px solid #b9b9b9;
  z-index: 2;
}

.xe-shop .xe-pager li.active a {
  background-color: #f0f0f0;
}

.xe-shop .xe-pager a {
  display: block;
  padding: 8px 10px 4px;
  font-size: 12px;
  text-decoration: none;
  color: #666;
}

.xe-shop .detail-wrap {
  margin-top: 40px;
  padding-bottom: 40px;
  border: 1px solid #d1d1d1;
  border-top: 2px solid #999;
}

.xe-shop .detail-tab {
  position: relative;
  background-color: #f1f1f1;
}

.xe-shop .detail-tab:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #d1d1d1;
}

.xe-shop .detail-tab ul {
  padding: 0;
  margin: 0;
  font-size: 0;
  white-space: nowrap;
  border-collapse: collapse;
}

.xe-shop .detail-tab li {
  display: inline-block;
  background-color: #f1f1f1;
  border: 1px solid #d1d1d1;
  border-top: 0;
  margin-right: -1px;
}

.xe-shop .detail-tab li:first-child {
  border-left: 0;
}

.xe-shop .detail-tab li.active {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 2;
}

.xe-shop .detail-tab a {
  display: block;
  min-width: 128px;
  padding: 28px 44px;
  font-size: 16px;
  color: #666;
  text-decoration: none;
  text-align: center;
}

.xe-shop .detail-information {
  padding: 30px 30px;
}

.xe-shop .detail-information-table {
  display: table;
  width: 100%;
  margin-bottom: 70px;
  border-collapse: collapse;
  table-layout: fixed;
}

.xe-shop .detail-information-row {
  display: table-row;
}

.xe-shop .detail-information-cell {
  display: table-cell;
  border: 1px solid #d1d1d1;
  padding: 10px 20px 8px;
  vertical-align: middle;
}

.xe-shop .detail-information-cell.th {
  width: 158px;
  background-color: #f1f1f1;
}

.xe-shop .xe-shop-wiget-title {
  position: relative;
  width: 100%;
  margin: 70px 0 32px 0;
  font-size: 16px;
  text-align: center;
  color: #666;
}

.xe-shop .xe-shop-wiget-title:after {
  position: absolute;
  content: "";
  bottom: -7px;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #666;
  transform: translateX(-50%);
}

.xe-shop .default-list {
  list-style-type: none;
  margin: 0 0 -40px 0;
  padding: 0;
}

.xe-shop .default-list a {
  text-decoration: none;
}

.xe-shop .default-list > li {
  display: inline-block;
  width: 32.368%;
  margin-right: 1.130%;
  margin-bottom: 40px;
}

.xe-shop .default-list > li:nth-child(3n) {
  margin-right: 0;
}

.xe-shop .default-list-img {
  overflow: hidden;
  position: relative;
  width: 369px;
  height: 492px;
  background-color: #f3f3f3;
}

.xe-shop .default-list-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.xe-shop .default-list-img:hover img {
  width: 115%;
  height: auto;
}

.xe-shop .default-list-img:hover .default-list-sns {
  transform: translateY(0);
}

.xe-shop .default-list-sns {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
  transform: translateY(100%);
}

.xe-shop .default-list-sns li {
  display: inline-block;
  margin: 9px 2px 6px;
}

.xe-shop .default-list-sns a {
  color: #666;
  font-size: 16px;
}

.xe-shop .default-list-sns .xi-heart-o {
  color: #ff4040;
}

.xe-shop .default-list-text-title {
  overflow: hidden;
  width: 100%;
  margin: 16px 0 0 0;
  padding: 0 20px;
  font-size: 13px;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.xe-shop .default-list .xe-shop-tag:last-of-type {
  margin-right: 8px;
}

.xe-shop .default-list-text-price {
  margin: 16px 0 0 0;
  padding: 0;
  color: #666;
  text-align: center;
}

.xe-shop .default-list-text-price .through {
  color: #999;
  text-decoration: line-through;
}

.xe-shop .default-list-text-price i {
  margin: 0 6px;
}

.xe-shop .default-list-tab {
  position: relative;
  padding-bottom: 48px;
}

.xe-shop .default-list-tab ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.xe-shop .default-list-tab li {
  display: inline-block;
  margin-left: 15px;
}

.xe-shop .default-list-tab li:first-child {
  margin: 0;
}

.xe-shop .default-list-tab li a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}

.xe-shop .default-list-tab .xe-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 35px;
}

.xe-shop .default-list-tab .xe-dropdown li {
  display: block;
  margin: 0;
}

.xe-shop .tab-list-title {
  text-align: center;
}

.xe-shop .tab-list-title li {
  position: relative;
  display: inline-block;
  margin-left: -4px;
}

.xe-shop .tab-list-title li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 12px;
  background-color: #999;
  z-index: 1;
}

.xe-shop .tab-list-title li:first-child {
  margin: 0;
}

.xe-shop .tab-list-title li:first-child:before {
  display: none;
}

.xe-shop .tab-list-title li a {
  padding: 14px 15px;
  text-decoration: none;
  color: #999;
}

.xe-shop .tab-list-title li.active a {
  position: relative;
  background-color: #f3f3f3;
  z-index: 2;
}

.xe-shop .tab-list-container {
  background-color: #f3f3f3;
}

.xe-shop .tab-list-container ul {
  margin: 0 0 0 0;
  padding: 50px 0 40px 0;
  white-space: nowrap;
}

.xe-shop .tab-list-container li {
  display: inline-block;
  width: 369px;
  margin-left: 15px;
}

.xe-shop .tab-list-container li:first-child {
  margin: 0;
}

.xe-shop .tab-list-container li a {
  text-decoration: none;
}

.xe-shop .tab-list-container .tab-list-img {
  position: relative;
  display: inline-block;
}

.xe-shop .tab-list-container .tab-list-img img {
  vertical-align: top;
}

.xe-shop .tab-list-container .tab-list-number {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 38px solid rgba(51, 51, 51, 0.8);
  border-top-color: transparent;
  border-left-color: transparent;
  font-size: 30px;
  color: #fff;
  text-indent: 7px;
}

.xe-shop .tab-list-caption {
  padding-left: 5px;
}

.xe-shop .tab-list-caption h3 {
  text-align: left;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
}

.xe-shop .tab-list-caption p {
  margin: 3px 0 0 0;
  text-align: left;
  font-size: 11px;
}

.xe-shop .cross-list {
  font-size: 0;
}

.xe-shop .cross-list > div {
  position: relative;
  display: inline-block;
  border: 1px solid #d1d1d1;
  vertical-align: top;
}

.xe-shop .cross-list > div:nth-child(2) {
  margin: 0 16px;
  border: 0;
}

.xe-shop .cross-list > div:nth-child(2) div {
  border: 1px solid #d1d1d1;
}

.xe-shop .cross-list > div:nth-child(2) div:first-child {
  margin-bottom: 12px;
}

.xe-shop .cross-list img {
  vertical-align: top;
}

.xe-shop .xe-shop-slider-view {
  overflow: hidden;
}

.xe-shop .xe-shop-slider-view ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  white-space: nowrap;
}

.xe-shop .xe-shop-slider-view li {
  position: relative;
  display: inline-block;
  white-space: normal;
}

.xe-shop .xe-shop-slider-view li:first-child {
  margin-left: -300px;
}

.xe-shop .xe-shop-slider-caption {
  position: absolute;
  top: 47px;
  bottom: 47px;
  left: 75px;
  right: 75px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #666;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.xe-shop .xe-shop-slider-caption p {
  padding: 0 20px;
  color: #333;
}

.xe-shop .xe-shop-slider .active .xe-shop-slider-caption {
  opacity: 1;
}

.xe-shop .xe-shop-slider-title {
  margin: 48px 0 0 0;
  font-size: 35px;
  line-height: 42px;
}

.xe-shop .xe-shop-slider-comment {
  position: absolute;
  top: 147px;
  margin: 0;
  font-size: 20px;
  line-height: 26px;
}

.xe-shop .xe-shop-slider .xe-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 38px;
  color: #666;
  transform: translateY(-3px);
}

.xe-shop .xe-shop-slider .xe-btn-slider-prev {
  margin-left: -270px;
}

.xe-shop .xe-shop-slider .xe-btn-slider-next {
  margin-left: 290px;
}

.xe-shop .xe-shop-slider .xe-btn i {
  transform: translateY(6px);
}

@media (min-width: 992px) {
  body {
    font-family: 'Source Sans Pro','나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
    font-size: 13px;
  }
  body input, body textarea, body select, body table {
    font-family: 'Source Sans Pro','나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
    font-size: 13px;
  }
  .xe-shop .container {
    max-width: 1140px;
  }
}

/*content css*/
/*response table*/
